@import "../app.scss";

.error_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;

    h1 {
      font-size: 8rem;
      font-weight: 900;

      @include mobile {
        font-size: 4rem;
      }
    }
    h2 {
      font-size: 2rem;
      font-weight: 900;

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }
}
