.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* optional drop shadow */

  .logo_container img {
    height: 40px;
    width: auto;
    fill: white;
  }
}
