.piano_roll_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .piano_roll_card__description {
    margin: 10px 0;
  }

  .piano_roll_crad__svg {
    border: 2px solid #381815;
    height: 100%;
    width: 100%;
  }
}
