* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  cursor: default;
  background-color: #f0f0f0;
  color: #1c1c1a;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
